{% extends 'users/user_base.html' %}

{% block title %}定制宏观指标{% endblock %}
{% block addtional_head %}
    {{ bokehCDN | safe }}
{% endblock %}

{% block mainbody %}
    定制宏观指标 ———— 待完成
    <button type="button" onclick="chartFunction('卡1_django','chart1')">卡1</button>
    <button type="button" onclick="chartFunction('卡2_python','chart2')">卡2</button>
    <div id="chart1"></div>
    <div id="chart2"></div>
    <script>
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                let cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    let cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        function chartFunction(charttype,container) {
            // 获取其它值：startdate,enddate,mytargets, myfeatures, outliers, standardize
            var postdata = {
                charttype: charttype,
                startdate: "2018-01-01",
                enddate: "2019-01-01",
                targets: ['000001.XSHG:S', '000016.XSHG:S', '000300.XSHG:S', '000852.XSHG:S', '000905.XSHG:S', '000985.XSHG:S'],
                features: ["pe_TTM"],
                outliers: 0,
                standardize: 2,
            };
            var csrftoken = getCookie('csrftoken');
            var fetchopt = {
                method: 'POST', // *GET, POST, PUT, DELETE, etc.
                body: JSON.stringify(postdata), // must match 'Content-Type' header 返回在request.body中
                cache: 'no-cache', // *default, no-cache, reload, force-cache, only-if-cached
                credentials: 'same-origin', // include, same-origin, *omit
                headers: {
                    {#'user-agent': 'Mozilla/4.0 MDN Example',#}
                    'content-type': 'application/json',
                    'X-CSRFToken': csrftoken,   // 必须，否则无法通过 django csrf
                    'X-Requested-With': 'XMLHttpRequest'    // 需要，否则没有django is_ajax()
                },
                {#mode: 'cors', // no-cors, cors, *same-origin#}
                {#redirect: 'follow', // manual, *follow, error#}
                {#referrer: 'no-referrer', // *client, no-referrer#}
            };
            fetch("{% url 'dfht:ajax1' %}", fetchopt)
                .then(response => response.json())
                .then(data => {
                    Bokeh.embed.embed_item(data,container)
                    // container 画图div的ID
                })
                .catch(error => console.error(error))
        }
    </script>
{% endblock %}