/* common */
@charset "utf-8";
html, body, div, span, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,abbr, address, cite, code,del, dfn, em, img, ins,kbd, q, samp,small, strong, sub, sup, var,b, i,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot,thead,tr, th, td,article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary,time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;  /*设置4个边框的样式*/
  outline-style:none;/*FF*/ 
  vertical-align: middle;
}
ul, ol { list-style:none; } 
a { text-decoration:none; color: rgba(0, 0, 0, 0.65);} 
b, strong, i, em {font-weight: normal;font-style: normal;}
fieldset, img { border:0; vertical-align: middle;}
.wrapper {
  width: 110px;
  max-width: 100%;
  margin: 0 auto;
}
.wrappers {
    width: 200px;
    max-width: 100%;
    margin: 0 auto;
}

.pages{
  position: absolute;
}
.pages .switch {		
  display: inline-block;
  position: absolute;
  top: 10px;
  right: 10px;
  color: #b6b6b6;
  text-decoration: none;
  width: 20px;
  height: 20px;
  line-height: 20px;
  font-size: 18px;
  text-align: center;
}
.current{
  position: absolute;
  z-index: 12 !important;
  left: 0px !important;
}
/* 上半区域样式 */
.page1{
  background-color: #a5cfff;
  z-index: 1;
  width: 100%;
  height:400px;
  top: 0px;
  left: 0px;
  display: flex;            
}
.left_search_wrap {
  box-sizing: border-box;
  width: 15%;
  min-width: 140px;
  height: 100%;
  background: #1ABC9C;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search_wrap {
  height: 85%;
  max-height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.left_search_wrap .search_btn {
  width: 60%;
}
.select_date_wrap {
  width: 140px;
  text-align: center;
}
.select_date_wrap span {            
  display: block;
  font-size: 12px;
  font-size: 16px;
  color: #555;
}
.select_date_wrap input {
  margin-top: 5px;
  width: 70%
}
.right_result_wrap {
  flex-grow: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.tab_wrap {
  width: 100%;
  height: 35px;
  display: flex;
  background: #fff;
}
.tab_wrap span {
  box-sizing: border-box;
  width: 100px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  cursor: pointer;
}
.tab_wrap span.active {
  color: #fff;
  background: #007bff;
}
.result_wrap {
  flex-grow: 1;
}

.page2{
  background-color: #b1ca54;
  z-index: 1;
  width: 50%;
  height:300px;
  top: 400px;
  left: 0px;
  display: flex; 
}
.page2 .left_search_wrap, .page2 .right_result_wrap, .page3 .left_search_wrap, .page3 .right_result_wrap {
  display: none;
}
.page2 .time_span_wrap, .page2 .cycle_num_wrap {
  font-size: 16px;
  color: #555;
  text-align: center;
}
.page2 .dropdown button {
  margin-top: 5px;
  padding: 0;
  width: 100px;
  height: 30px;
  border: 1px solid #ddd;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page2 .dropdown-menu li {
  cursor: pointer;
}

.page3{
  background-color: #c2c6c9;
  z-index: 1;
  width: 50%;
  height:300px;
  top: 400px;
  left: 50%;
  display: flex;
}
.page3 .page3-table .tags ol li {
  padding-right: 20px;
  cursor: pointer;
  font-size: 14px;
  height: 38px;
  line-height: 38px;
}
.page3 .page3-table .tags ol li.selected {
  color: #487af7;
}
.page3-table .page3-table-content table {
  width: 100%;
}
.page3-table .page3-table-content table tr{
  height: 40px;
  line-height: 40px;
}

.page3-table .page3-table-content table thead tr{
  background: #fff;
}
.page3-table .page3-table-content table tbody tr:nth-child(even){
  background: #fff;
}
.page3-table .page3-table-content table tbody tr:nth-child(odd){
  background: #c2c6c9;
}
.page3-table .page3-table-content table tbody tr td.red {
  color: red;
}
.page3-table .page3-table-content table tbody tr td.blue {
  color: blue;
}
.wrap {
  position: relative;
  min-height: 700px;
}
.all {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
}

/* 沙漏 */
#Hourglass .modal-body {
  text-align: center;
}

#date-list .modal-date-body {
  position: relative;
}
#date-list .modal-date-body .form_date {
  padding: 20px;
}

/* 1 */
/* 2 */
/* 3 */
.container .main3 {
    padding-bottom: 20px;
    text-align: center;
}
.container .main3 button.btn {
    display: inline-block;
    width: 60%;
    margin-top: 20px;
}
/* 4 */
